:root {
  --primary-background: #16161a;
  --secondary-background: #242629;
  --primary-text: #fffffe;
  --secondary-text: #94a1b2;
  --button-color: #7f5af0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--primary-text);
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

main {
  text-align: center;
  padding: 16px 24px;
  background-color: var(--secondary-background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--primary-text);
  margin-bottom: 8px;
}

h2 {
  color: var(--secondary-text);
  margin-bottom: 24px;
}

button {
  width: 60%;
  color: var(--primary-text);
  background-color: var(--button-color);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 24px;
}

.passwords-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
}

.grid-item {
  border: 1px solid var(--button-color);
  text-align: center;
  padding: 24px;
  width: 210px;
  /* border-radius: 5px; */
}
